HTML{
    Background-color: rgb(0,53,69);
}
input,button{
    background-color: rgba(0, 0, 0,50%);
    color: #00ff00;
    outline: transparent;
}

.srchb{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: black;
}
body{
    background-image: linear-gradient(90deg ,rgb(0, 255, 0),rgb(110, 0, 153),rgb(155, 0, 0));
}
input{
    color: #00ff00;
    height: 23px;
    width: 300px;
    border-radius: 8px;
    
}
img{ position: absolute; left: 50%; top: 30%; transform: translate(-50%,-50%); height: 200px; width: 200px; }
.go{
    color: #00ff00;
    height: 23px;
    width: 42px;
    border-radius: 8px;
    text-align: center;
}
button:hover{
    background-color: #00ff00;
    color: #000; 
}
.im{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
}
.pro{
    background-color: #00ff00;
    border-radius: 12px;
}
.dropbtn {

  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #00ff00;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,50%);
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
  z-index: 1;
  left: 98%;
  top: 42px;
  transform: translate(-98%);
}
.dropdown-content a {
  color:#00ff00;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown a:hover {background-color: #00ff00;}
.show {display: block;}
.dropdown{
    position: absolute;
    left: 100%;
    top: 10px;
    transform: translate(-100%);
    width: 70px;
}
.dropbtn{
    height: 23px;
    width: 23px;
    border-radius: 50%;
}
a:hover{
  background-color: #00ff00;
  color: #000;
}
.clock{
   position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%,0%);
    color: #00ff00;
}
div{
  position:absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%,-100%);
}
.gh{
  border-radius: 8px;
}
